body{
	margin: 0;
	padding: 0;
	overflow-y:auto;
 }

#sketch-holder{
	display: flex;
  justify-content: center;
	margin-top: 2%;
}
#back-button {
    position: fixed;
    top: 20px;
    left: 30px;
    border: none;
    outline: none;
    background-color: #808080;
    cursor: pointer;
		height: 40px;
		width: 40px;
    border-radius: 10px;
}

#back-button:hover {
    background-color: #bfbfbf;
}
#back-button img{
	height: 16px;
	width: 16px;
}
